.login-container {
  width: 430px;
  height: 932px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  color: #000000;
  background-image: url("../../assets/Assessoria.png");
  background-position: center;
  background-size: cover;
  z-index: -1;
  @media screen and (max-width: 430px) {
    width: 100vw;
    height: 96vh;
    background-position: center;
    background-size: cover;
  }
}

.login-form {
  width: 80%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75%;
  margin-top: 40%;
  gap: 25px;
  border-radius: 15px;

  input {
    border: none;
    border-bottom: 2px solid #103f66;
    padding: 10px 25px;
    font-style: normal;
    font-family: sans-serif;
    border-radius: 25px;
    color: #103f66;
  }

  button {
    padding: 10px 25px;
    cursor: pointer;
    background-color: #103f66;
    color: antiquewhite;
    border: none;
    border-radius: 25px;
  }
}
