.not-found {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;

  h1 {
    font-size: x-large;
    font-weight: bold;
  }

  p {
    font-size: medium;
    font-weight: 500;
  }

  span {
    font-size: x-large;
    color: #d1450e;
  }
}
